.header {
  background-color: #e7f8f1;
  padding: 1rem 0;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.brand-name h1 {
  margin: 0;
  font-size: 2rem;
  
}

.brand-name h1 a {
  text-decoration: none;
  font-family: cursive;
  /* font-weight: 20px; */

  color: #128760;

  /* color: inherit; */
}
/* .text-dark {
  color:  #128760;
} */

.search-bar {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 1rem;
  max-width: 400px;
}

.search-bar input {
  width: 100%;
  padding: 0.5rem;
  border: 1.5px solid  #128760;
  border-radius: 0.25rem;
}

nav .nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}
nav .nav-item1 {
  margin: 0;
}
nav .nav-item {
  margin: 0;
}

nav .nav-link {
  text-decoration: none;
  color: #128760;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  -webkit-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

nav .nav-link:hover {
  background-color: #e7f8f1;
  color: #128760;
}

@media (min-width :376px)and(max-width: 768px) {
  .header .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .search-bar {
    width: 100%;
    /* margin: 1rem 0; */
  }

  nav .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
  }

  nav .nav-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    
    width: 100%;
    /* text-align: center; */
  }
  nav .nav-link:hover {
    background-color:  #e7f8f1;
    color: #128760;
  }
}

.main-content {
  padding-top: 10px; /* To avoid content hiding behind the fixed header */
  padding: 2rem; /* Added padding for better readability on small screens */
}

@media (max-width: 375px) {
  .search-bar {
    width: 100%;
    /* margin: 1rem 0; */
  }

  nav .nav {
    flex-direction: row;
    width: 100%;
  }

  nav .nav-link {
    width: 100%;
    text-align: center;
  }
  nav .nav-item1{
    display: none;
  }
  nav .nav-link:hover {
    background-color: #e7f8f1;
    color: #128760;
  }
}

