.main_carousel {
  display: flex;
  justify-content: center;
  width: 100%;
  /* margin-left: 30px; */
  margin-top: 60px;
}
.carousel{
  position: absolute;
}

.main_carousel .carousel-inner {
  width: 75%;
  max-width: 100%;
}

.caroimg {
  width: 100%;
  height: auto;
}

@media (min-width: 320px) and (max-width: 767px) {
  .main_carousel {
    background-color: rgb(245, 240, 240);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }

  .main_carousel .carousel-inner {
    width: 100%;
  }

  .caroimg {
    height: 300px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .main_carousel {
    margin: 20px;
  }

  .caroimg {
    height: 400px;
  }
}

@media (min-width: 1200px) {
  .caroimg {
    height: 500px;
  }
}
